@model ProductUpdateDto

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Price</label>
        <input type="text" asp-for="SellPrice" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="SellPrice" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Rating</label>
        <input type="text" asp-for="DiscountPrice" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="DiscountPrice" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Is it in stock? </label>
        <input type="checkbox" asp-for="Rating" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Discount </label>
        <input type="number" asp-for="Discount" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Short Description </label>
        <input type="text" asp-for="Description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Main File</label>
        <input asp-for="IsMain" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="IsMain" class="text-danger"></span>
    </div>
    <img src="~/assets/image/productImgs/@Model.MainFilePath" style="width:150px" />
    <input type="hidden" asp-for="MainFilePath" />
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Hover File</label>
        <input asp-for="IsHover" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="IsHover" class="text-danger"></span>
    </div>
    <img src="~/assets/image/productImgs/@Model.HoverFilePath" style="width:150px" />
    <input type="hidden" asp-for="HoverFilePath" />
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Additional Files</label>
        <input asp-for="AdditionalFiles" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="AdditionalFiles" class="text-danger"></span>
    </div>
    @foreach (var item in Model.AdditionalFilePaths)
    {
        <img src="~/assets/image/productImgs/@item" style="width:150px" />
        <input type="hidden" asp-for="AdditionalFilePaths" />
    }
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,nameof(Category.Id),nameof(Category.Name)))" class="form-control">
            <option disabled selected>Select Category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger">  </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>


@section Scripts {
    <script>
        const deleteBtn = document.querySelectorAll(".deleteProductBtn");
        deleteBtn.forEach(btn => {
            btn.addEventListener("click", (e) => {
                const id = e.target.dataset.id;
                fetch(`https://localhost:7075/Admin/Product/DeleteImage/${id}`, {
                    method: "POST"
                }).then(x => x.text()).then(x => {
                    document.querySelector(".productImages").innerHTML = x;
                })
            });
        });
    </script>
}